{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p></p>
        <br>
        <p><b>Teléfono:</b> +34 605 89 89 76</p>
        <p><b>Honorarios:</b> 20€/h (precio base)</p>
    </div>
</div>
{% endblock %}